<div class="alert alert-light" role="alert" *ngIf="!isLoaded()">
  Loading ... Please wait!
</div>
<div class="row">
  <div class="col-sm-6" *ngFor="let movie of movies">
    <div class="card mb-3">
      <h5 class="card-header">{{movie.title}}</h5>
      <div class="card-body">
        <h5 class="card-title">Episode {{movie.episode_id}}</h5>
        <h6 class="card-subtitle mb-2 text-muted">Release date: {{movie.release_date}}</h6>
        <p class="card-text">{{movie.opening_crawl}}.</p>
      </div>
      <div class="card-footer text-muted">
        Characters: {{movie.characters_count}}
      </div>
    </div>
  </div>
</div>
